body {
  font-family: Script MT Bolds;
  background-color: darkred;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  font-size: 30px;
  background-color: #CF1938;
  color: white;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #A82E0A;
  margin: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a.active, nav a:hover {
  text-decoration: underline;
}
.media-section {
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #A80A39;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.media-audio {
  width: 80%;
}

footer {
  text-align: center;
  background-color: #C73C66;
  color: white;
  padding: 15px;
  margin-top: 40px;
}
